<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/main.js" type="module"></script>
    <title>Ultimate Werewolf Role Randomizer</title>
</head>
<body>
    <div class="nav">
        <div class="title-holder">
            <div class="spread-letter">
                <span>U</span>
                <span>L</span>
                <span>T</span>
                <span>I</span>
                <span>M</span>
                <span>A</span>
                <span>T</span>
                <span>E</span>
            </div>
            <h1>W E R E W O L F</h1>
            <h4>DELUXE EDITION</h4>
        </div>
    </div>

    <div class="body">
        <form method="POST">
            {{ csrf_token }}
            {{ form.hidden_tag() }}

            <div class="option" id="top">
                <label for="players">Number of players</label>
                <span id="player-value">{{ prev_players if prev_players is not none else 15 }}</span>
                <input class="players" id="players" name="players" type="range" value="{{ prev_players if prev_players is not none else 15 }}" min="5" max="40">
                <span class="players-warning" id="players-warning">You may need to enable all options below for generating roles with more players.</span>
            </div>

            <div class="option" id="bottom">
                <div>
                    <label for="solo">Include solo characters</label>
                    <button type="button" id="toggle-solo" class="{{ 'active' if prev_solo else '' }}"></button>
                    <input id="solo" name="solo" type="checkbox" hidden {{ 'checked' if prev_solo else '' }}>
                </div>
                
                <span class="vampire-warning" id="vampire-warning">No. of players too low for a 3rd team.</span>

                <div>
                    <label for="vampires" id="vampires-label">Add vampire team</label>
                    <button type="button" id="toggle-vampires" class="{{ 'active' if prev_vampires else '' }}"></button>
                    <input id="vampires" name="vampires" type="checkbox" hidden {{ 'checked' if prev_vampires else '' }}>
                </div>

                <div>
                    <label for="npc">Include normal villagers</label>
                    <button type="button" id="toggle-npc" class="{{ 'active' if prev_npc else '' }}"></button>
                    <input id="npc" name="npc" type="checkbox" hidden {{ 'checked' if prev_npc else '' }}>
                </div>
            </div>

            <button class="submit" type="submit">Generate</button>
        </form>
    </div>

    {% if final_roles %}
        <div class="result">

            <div class="card-container">
                {% for role in final_roles %}
                    <div class="card" id="card" data-type="{{ role[2] }}">
                        <div class="name">{{ role[0] }}</div>
                        <div class="strength">{{ role[1] }}</div>
                    </div>
                {% endfor %}    
            </div>

            <div class="total-strength">Total Strength: <span style="color: #DD8822;">{{ total_strength }}</span></div>

        </div>
    {% endif %}

    <div class="helper">
        <div class="content">
            <h3>Ultimate Werewolf Role Randomizer</h3>
            <p>This is a simple role randomizer tool made specifically for the 'Ultimate Werewolf Deluxe Edition (Hunting Party Expansion)' pack.</p>
            <br>
            <h3>How to use?</h3>
            <p>1. Select the number of players (5 - 40) excluding the moderator.</p>
            <p>2. Enable or disable any of the options based on preference.</p>
            <p>3. Generate!</p>
            <br>
            <h3>NOTE:</h3>
            <p>1. This tool is 95% accurate. If you end getting the 5% of inaccuracy, randomize the roles again, or hand pick the roles.</p>
            <p>2. When randomizing roles for players > 35 it's better to enable all the options.</p>
        </div>
    </div>
    
</body>
</html>